<div class="login-form">
	
		<div style="width:100%;text-align:center;font-size:4em;"><span class="glyphicon glyphicon-user" style=""" aria-hidden="true"></span></div>
<hr />
		<form>
			<label for="username">Username</label>
			<input type="text" class="form-control" name="username" ng-model="loginController.user.username" />
			<label for="password">Password</label>
			<input type="password" class="form-control" name="password" ng-model="loginController.user.password" />	
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>                        		
                        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginController.loginUser()">Sign in</button>
		</form>

</div>
